html {
    background-color: rgb(0, 0, 0);
}
a{
    color: gold;
}
a:hover {
    color: goldenrod;
}
a:active {
    color: yellow;
}

h1, h2, h3 {
    margin: 0;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#nav ul{
    list-style-type: none;
}
#nav {
    color: gold;
    width: 30%;
    font-size: 20px;
    float: left;
}
#buttons {
    margin-top: 50%;
}
#main {
    width: 60%;
    margin-right: 10%;
    float: right;
    font-size: 20px;
}
#header {
    font-family: 'Consolas';
    color: goldenrod;
    font-size: large;
    padding: 10px;
}
#main {
    color: white;
}
#content {
    padding: 10px;
}
#footer {
    color: white;
    font-size: 11px;
    clear: both;
    margin-top: 50%;
}
#image{
    border-radius: 10%;
    height: 300px;
    width: 400px;
}

